.BrightNav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .Logo {
        width: 20vw;
        height: auto;
        margin: 2vh 4vw;
    }
}

.TitleContainer {
    display: flex;
    flex-direction: row;
    p{
        color: #FA8B80;
        font-size: 1.5rem;
    }
}

.bm-burger-button {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 36px;
    top: 36px;
  }

  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .bm-morph-shape {
    fill: #777777;
  }


  .bm-item {
    display: inline-block;
    margin: 50px 20px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
  }

  .bm-item-list {
    color: #b8b7ad;
    padding: 30px;
margin-top: 100px;
  }